<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"> </script>
  </head>
  <body>
    <header>
      <h1>Fun With AJAX</h1>
    </header>
    <section class="section">
      <h2>Section 1 & 2:</h2>
      <button class="btn btn-root-req">Run AJAX Request to Root</button>
    </section>
    <section class="section">
      <h2>Section 3, 4, 5 & 6:</h2>
      <button class="btn btn-ping-req">Run AJAX Request to Ping Pong</button>
    </section>
    <section class="section">
      <h2>Section 7:</h2>
      <button class="btn btn-count-req">Run AJAX Request to Count</button>
    </section>
    <section class="section">
      <h2>Section 8:</h2>
      <button class="btn btn-time-req">Run AJAX Request to Time</button>
    </section>
    <section class="section section-9">
      <h2>Section 9:</h2>
      <button class="btn btn-car-req">Run AJAX Request to A Car</button>
    </section>
  </body>
</html>
